// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {border-bottom: 2px solid black; }
.samples {width: 350px; float: right; background-color: white; padding: 5px; text-align: center!important; }
.samples h3 {line-height: 1.1em; font-color: gray; text-align: left; font-size: 1.3em;}
.quote {font-style: italics; }
