// Place all the styles related to the Thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date {font-style: italics; border-top: 1px solid black; }
.thought {border: 1px solid lightgray;
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);*/}
